:root {
    /* Theme 1 */
    /* Backgrounds */

    --very_dark_desaturated_blue_main: hsl(222, 26%, 31%);
    --very_ddb_toggle : hsl(223, 31%, 20%);
    --very_ddb_screen : hsl(224, 36%, 15%);

    /* Keys */

    --desaturated_dark_blue_key : hsl(225, 21%, 49%);
    --desaturated_dbk_shadow : hsl(224, 28%, 35%);
    --red_kb_toggle : hsl(6, 63%, 50%);
    --dark_red_key_shadow : hsl(6, 70%, 34%);

    --light_grayish_orange_key : hsl(30, 25%, 89%);
    --grayish_orange_key_shadow: hsl(28, 16%, 65%);

    /* Text */

    --very_dark_grayish_blue : hsl(221, 14%, 31%);
    --white: hsl(0, 0, 100%);
}

* {
    font-size: 32px;
    font-family: 'Spartan', sans-serif;
}
body {
    background-color: var(--very_dark_desaturated_blue_main);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.calculator {
    width: 350px;
    height: 500px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    position: relative;

    &::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        
    }
}

.top-bar{
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    color: white;
}

p {
    font-size: 25px;
}

.btnTheme {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 8px;
}
.btnDiv{
    margin-left: 10px;
}
.btnNumber {
    font-size: 12px;
    text-align: center;
}
.btns{
    background-color: var(--very_ddb_screen);
    padding: 0px 10px;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 30px;
}
.switch {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
}

.screen {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: .7rem;
    background-color: var(--very_ddb_screen);
    border-radius: 6px;
    margin: 10px 0px;
    color: white;

    &_top{
        font-size: .9em;
    }

    &_content{
        font-size: 1.3rem;
    }
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 5px;
    padding: 10px;
    background-color: var(--very_ddb_toggle);
    border-radius: 6px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    margin: 10px;
    border-radius: 6px;
    font-size: .5em;
    border-bottom: 2px solid var(--grayish_orange_key_shadow);
    background-color: var(--light_grayish_orange_key);
    color: var(--very_dark_grayish_blue);
    cursor: pointer;
    position: relative;
    z-index: 100;

    &:hover{
        background-color: lightskyblue;
        cursor: pointer;
    }
}

#button-del, #button-clear {
    background-color: var(--desaturated_dark_blue_key);
    border-bottom: 2px solid var(--desaturated_dbk_shadow);
    color: white;
    font-size: .35rem;
}

#button-result {
    background-color: var(--red_kb_toggle);
    color: white;
    border-bottom: 2px solid var(--dark_red_key_shadow);
}